.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    overflow-x: scroll;


}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}



.container::-webkit-scrollbar {
    display: none;
}

/* For IE and Edge */
.container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}