$headerTopTxt: #666666;
$fill: #B3B3B3;
$white: #fff;
$borderBottom: #666666;
$mainBtnColor: #00B207;
$inputColor: #808080;
$mainBtnColorHover: #078d0c;
$line: #CCCCCC;
$black: #1A1A1A;
$defaultMenuTxt: #999999;
$navBackGround: var(--Gray-Scale-Gray-800, #333);
$menuTxtColor:#00B207;
$heroSale:#FF8A00;
$categoriesBorder: #E6E6E6;
$categoriesBorderHover:#2C742F;
$categoriesBorderShadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
$saleColor: #EA4B48;
$productsName:#4D4D4D;
$oldprice: #999;
$bagColor:#F2F2F2;
$favoriteColor:#ff4f66;
$viewColor:#1DA1F2;
$saleAltColor:#FCC900;
$saleColor2: #FF8A00;
$backgroundColor: #F7F7F7;
$border:#E6E6E6;
